!    _    ____
!   / \  | __ )	https://gitlab.com/ifanatical
!  / _ \ |  _ \
! / ___ \| |_) |
!/_/   \_\____/  	


Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

XTerm*renderFont: true
XTerm*faceName: xft:source code pro, \
                xft:JoyPixels:size=12, \
                xft:Monospace:style=Medium:size=12   
XTerm*faceSize: 11
XTerm*utf8: 2
XTerm*locale: true

XTerm*savelines: 16384

URxvt*imLocale: en_US.UTF-8
URxvt*termName: xterm
URxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font: xft:source code pro:size=12, \
            xft:JoyPixels:size=12, \
            xft:Monospace:style=Medium:size=12   
URxvt.saveLines: 2000
URxvt.scrollBar: false
Rxvt.cursorColor: white

Xcursor.theme: breeze-dark
Xcursor.size: 24

*.foreground:   #acb0d0
*.background:   #1a1b26
*.cursorColor:  #acb0d0

*.color0:       #32344a
*.color8:       #444b6a

! red
*.color1:       #f7768e
*.color9:       #ff7a93

! green
*.color2:       #9ece6a
*.color10:      #b9f27c

! yellow
*.color3:       #e0af68
*.color11:      #ff9e64

! blue
*.color4:       #7aa2f7
*.color12:      #7da6ff

! magenta
*.color5:       #ad8ee6
*.color13:      #bb9af7 

! cyan
*.color6:      #0db9d7
*.color14:       #449dab

! white
*.color7:       #787c99
*.color15:      #acb0d0

XTerm.vt100.translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
