@define-color critical #f84d51;
@define-color warning #fdbb39;
@define-color fgcolor #efefef;
@define-color bgcolor #21252b;
@define-color alert #fdbb39;
@define-color empty #8a8d91;
@define-color fg_alt #fdbb39;

/* black */
@define-color black #21252b;
@define-color black-bright #3f444a;

/* red */
@define-color red #fc5353;
@define-color red-bright #db7d3b;

/* green */
@define-color green #8bbf48;
@define-color green-bright #4db5bd;

/* yellow */
@define-color yellow #db7d3b;
@define-color yellow-bright #ecbe7b;

/* blue */
@define-color blue #51afef;
@define-color blue-bright #3071db;

/* magenta */
@define-color magenta #c678dd;
@define-color magenta-bright #a9a1e1;

/* cyan */
@define-color cyan #00b7eb;
@define-color cyan-bright #46d9ff;

/* white */
@define-color white #efefef;
@define-color white-bright #bcbcbc;

* {
    font-family: Ubuntu Mono, FontAwesome, JetBrainsMonoNL Nerd Font;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: @bgcolor;
    color: @cyan;
    border-radius: 0px;
    box-shadow: inset 0 0 0 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left, .modules-center, .modules-right {
    background-color: transparent;
    padding: 0px 0px;
    margin: 0 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.modules-left {
    border-top-color: @cyan;
}

.modules-center {
    border-top-color: @cyan;
}

.modules-right {
    border-top-color: @cyan;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#workspaces button.empty {
    padding: 0 4px 0 4px;
    margin: 0 4px 0 0;
    min-width: 20px;
    background-color: transparent;
    color: @empty;
    box-shadow: inset 0 0 0 0;
}

#workspaces button {
    padding: 0 4px 0 4px;
    margin: 0 4px 0 0;
    min-width: 20px;
    background-color: transparent;
    color: @green;
    box-shadow: inset 0 -2px 0 0 @green;
}

#workspaces button.urgent {
    color: @critical;
    background-color: transparent;
}

#workspaces button.visible {
    padding: 0 4px 0 4px;
    margin: 0 4px 0 0;
    min-width: 20px;
    background-color: transparent;
    color: @magenta;
    box-shadow: inset 0 -2px 0 0 @magenta;
}

#workspaces button.focused {
    padding: 0 4px 0 4px;
    margin: 0 4px 0 0;
    min-width: 20px;
    background-color: transparent;
    color: @cyan;
    box-shadow: inset 0 -2px 0 0 @cyan;
}

#workspaces button.active {
    padding: 0 4px 0 4px;
    margin: 0 4px 0 0;
    min-width: 20px;
    background-color: transparent;
    color: @cyan;
    box-shadow: inset 0 -2px 0 0 @cyan;
}

#workspaces button:hover {
    color: @cyan-bright;
    box-shadow: inset 0 -2px 0 0  @cyan-bright;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

tooltip {
    background-color: alpha(@bgcolor, 0.8);;
    border: 2px solid @cyan;
    border-radius: 0
}

tooltip label {
    color: @fgcolor;
}

#mode {
    background-color: transparent;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-dunst,
#custom-media,
#custom-kernel,
#custom-powermenu,
#hyprland-window,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 4px;
    color: @fgcolor;
}

#workspaces {
    margin: 0 4px;
}

#clock {
    background-color: transparent;
    color: @cyan;
    box-shadow: inset 0 -2px 0 0 @cyan;
}

#battery {
    background-color: transparent;
    color: @black;
}

#battery.charging, #battery.plugged {
    background-color: transparent;
    color: @white-bright;
}

@keyframes blink {
    to {
 background-color: @white-bright;
 color: @black;
    }
}

#battery.critical:not(.charging) {
    background-color: transparent;
    color: @white-bright;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: transparent;
}

#cpu {
    background-color: transparent;
    min-width: 40px;
    color: @cyan;
    box-shadow: inset 0 -2px 0 0 @cyan;
}

#memory {
    background-color: transparent;
    min-width: 40px;
    color: @green;
    box-shadow: inset 0 -2px 0 0 @green;
}

#custom-gpu {
    background-color: transparent;
    color: @green;
    min-width: 40px;
    box-shadow: inset 0 -2px 0 0 @fg_alt;
}

#disk {
    background-color: transparent;
    min-width: 40px;
    color: @yellow;
    box-shadow: inset 0 -2px 0 0 @yellow;
}

#backlight {
    background-color: transparent;
}
 
#network {
    background-color: transparent;
    color: @cyan;
    box-shadow: inset 0 -2px 0 0 @cyan;
}

#network.disconnected {
    background-color: transparent;
    color: @red;
    box-shadow: inset 0 0 @red;
}

#pulseaudio {
    background-color: transparent;
    color: @magenta;
    min-width: 35px;
    box-shadow: inset 0 -2px 0 0 @magenta;
}

#pulseaudio.muted {
    background-color: transparent;
    color: @red;
    min-width: 35px;
    box-shadow: inset 0 -2px 0 0 @red;
}

#wireplumber {
    background-color: transparent;
    color: @black;
}

#wireplumber.muted {
    background-color: transparent;
}

#custom-kernel {
    background-color: transparent;
    color: @red;
    box-shadow: inset 0 -2px 0 0 @red;
}

#custom-dunst {
    background-color: transparent;
    color: @white;
    min-width: 15px;
    box-shadow: inset 0 -2px 0 0 @fg_alt;
}

#custom-notification {
    background-color: transparent;
    color: @yellow-bright;
    min-width: 50px;
}

#custom-media {
    background-color: transparent;
    color: #2a5c45;
    min-width: 75px;
}

#custom-powermenu {
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: @cyan;
}

#custom-pacman {
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: @magenta;
    min-width: 45px;
    box-shadow: inset 0 -2px 0 0 @magenta;
}

#custom-weather {
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: @white;
    min-width: 100px;
    box-shadow: inset 0 -2px 0 0 @white;
}

#custom-separator {
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: @white-bright;
}

#custom-copy {
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    min-width: 125px;
    color: @magenta;
    box-shadow: inset 0 -2px 0 0 @magenta;
}

#tray {
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: transparent;
}

#idle_inhibitor {
    background-color: transparent;
}

#idle_inhibitor.activated {
    background-color: transparent;
    color: #2d3436;
}

#language {
    background: transparent;
    color: @green;
    min-width: 75px;
    box-shadow: inset 0 -2px 0 0 @green;
}

#keyboard-state {
    background: transparent;
    color: @black;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: transparent;
}

#scratchpad {
    background: transparent;
}

#scratchpad.empty {
	background-color: transparent;
}
